ul {
  list-style-type: none;
  text-decoration: none;
}

:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --text: #434455;
  --white-background: #ffffff;
  --light: #f4f4fd;
  --modal-background: #fcfcfc;
}

/* Body */
.body,
.body-portfolio {
  font-family:"Raleway", sans-serif;
  line-height: 1.2;
  letter-spacing: 0.02em; 
  color: var(--text);
  background-color: var(--white-background);
}

/*Header styles*/
.header {
}

.header-nav {
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-brand);
  list-style-type: none;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-up {
  color: var(--dark);
  text-decoration: none;
}

.header-list {
  list-style: none;
}

.header-item {
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
  list-style-type: none;
  text-decoration: none;
}

.header-link:hover,
.header-link:focus {
  color: var(--pressed-state);
}

.header-address {
  font-style: normal;
}

.header-address-list {
  list-style: none;
}

.header-address-item {
}

.header-address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
  list-style-type: none;
  text-decoration: none;
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--pressed-state);
}

/* Main */
.main {
}

.section {
}

/* Section hero */
.hero {
  background: var(--dark);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-background);
}

.hero-btn {
  
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  background: var(--primary-brand);
  border: var(--primary-brand);
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background: var(--pressed-state);
}

/* Section benefits */
.benefits {
}

.benefits-list {
}

.benefits-item {
}

.benefits-title {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
}

.benefits-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

/* Section made */
.made {
}

.made-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.made-list {
}

.made-item {
}

.made-img {
}

/* Section team */
.team {
  background: var(--light);
}

/* .team-title разом з .made-title */

.team-list {
}

.team-item {
}

.team-img {
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Footer */
.footer {
  background: var(--dark);
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-brand);
  text-transform:uppercase;
  list-style-type: none;
  text-decoration: none;
}

.logo-down {
  color: var(--light);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--light);
}

/* Portfolio main*/

.main-portfolio {
}

/* Section portfolio */
.section {
}

.portfolio {
}

.portfolio-list-btn {
}

.portfolio-item {
}

.portfolio-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--light);
  border: 1px solid var(--modal-background);
  color: var(--primary-brand);
  cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background: var(--pressed-state);
  color: var(--white-background);
}

.portfolio-list {
  list-style: none;
}

.portfolio-link {
  text-decoration: none;
  list-style-type: none;
  text-decoration: none;
}

.portfolio-img {
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
